html,body
{
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}
html
{
    background: whitesmoke;
}
body
{
    background: #b2cecf;
    background: rgba(205, 248, 205, 0.1);
}
th
{
    padding: 5px;
}
.status
{
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.active
{
    border: 2px solid white;
    background-color: rgb(151, 233, 28);
    border-radius: 50%;
}
.id
{
    font-size: 1.4em;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
hr
{
    height: 3px;
    width:60px;
    background-color: #f0dbc0;
    border-radius: 10px;
    margin: 8px;
}
td
{
    padding-left: 4px !important;
    padding-right: 4px;
}

.phase1
{
    height: 4px;
    color: red;
    background-color: red;
}
.phase1old
{
    
    background-image: repeating-linear-gradient(35deg, transparent, transparent 5px, #ff0a02 5px, #fa5555 15px)
}
.phase2old
{
    
    background-image: repeating-linear-gradient(35deg, transparent, transparent 5px, #fffb00 5px, #fcae56 15px)
}
.phase3old
{
    
    background-image: repeating-linear-gradient(35deg, transparent, transparent 5px, #0066ff 5px, #44a5f5 15px)
}
.phase2
{
    height: 4px;
    color: yellow;
    background-color: yellow;
}
.phase3
{
    height: 4px;
    color: blue;
    background-color: blue;
}
.phase_status
{
    border: 2px solid white;
    background: green;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}
.phase_inactive
{
    background-color: red;
}
.trip
{
    border: 2px solid white;
    background-color: brown;
    border-radius: 50%;
}
.inactive
{
    border: 2px solid white;
    background-color: black;
    border-radius: 50%;
}
.slidecontainer {
    width: 100%;
  }
  
  .slider, .slider1 {
    -webkit-appearance: none;
    width: 200px !important;
    height: 22px;
    border-radius: 5px;
    background-image: linear-gradient(360deg, black, red);
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 100px;
    margin-left: -100px;
    -webkit-transform:rotate(270deg);
    -moz-transform:rotate(270deg);
    -o-transform:rotate(270deg);
    -ms-transform:rotate(270deg);
    transform:rotate(270deg);
    margin-bottom: 100px;
  }
  
  .slider:hover, .slider1:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb, .slider1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 24px;
    border: 0;
    background: url('../images/contrasticon.png');
    border-radius: 50%;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb, .slider1::-moz-range-thumb {
    width: 22px;
    height: 24px;
    border: 0;
    background: url('../images/contrasticon.png');
    border-radius: 50%;
    cursor: pointer;
  } 
  .btnb
  {
      border-radius: 0px;
      margin: 10px;
      width: 100px;
      height: 40px;
      box-shadow: 3px 3px #ddd;
      font-size: 1.1em;
      font-weight: 800;
      transition: all .5;
      display: inline-block;
  }
  .btrigger
  {
    background: rgba(245, 132, 39, 0.5);
    box-shadow: 5px 5px #f3a257;
  }
  .lightoff, .lighton
  {
      position: absolute;
      display: inline-block;
      width: 90px;
      height: 25px;
      border-radius: 45%;
      margin-left: -42px;
  }
  .lightoff
  {
    background-color: rgba(50,50,50,0.05);
  }
  .lighton
  {
      background-color: rgba(250,250,250,0.3);
  }
  .btn
  {
      margin: 10px;
  }
  .bon
  {
      background: rgba(209, 18, 18, 0.5);
      box-shadow: 5px 5px #f56b52;
  }
  .boff
  {
    background: rgba(5, 194, 5, 0.5);
    box-shadow: 5px 5px #7ad450;
  }
  .btnb:hover
  {
      transform: scale(1.1);
      transition:all 0.5s ;
      box-shadow: 5px 5px #ddd;
  }
  .btnb:active
  {
      transform: scale(0.9);
      box-shadow: 2px 2px #ddd;
      transition: all 0.5s;
  }
  .title
  {
      background: #50d07d;
      border-radius: 50%;
  }
  .title1
  {
    background: #FCD345;
    font-family: Amiko;
    margin: 5px;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  .title2, .title3, .title4
  {
    background: #FCD345;
    font-family: Amiko;
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 50px;
  }
  .title1 > h3 
  {
      font-size: 1.6em;
  }
  .title2 > h3, .title3>h3
  {
    font-size: 1.6em;
}
  .title3
  {
      background: rgba(250, 69, 23, 0.5);
  }
  .demo1
  {
      width: 100px;
      display: inline-block;
      margin-top: 25px;
  }
  
  .range-img, .range-img1
  {
      border-radius: 50%;
  }
  .bg-phases
  {
      background: white;
      padding: 15px;
      transition: all 0.6s;
      margin: 25px;
      left: 15px;
      box-shadow: 1px 1px 1px 1px #666;
  }
  .bg-voltage
  {
      background: white;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.6s;
      margin: 25px;
      box-shadow: 1px 1px 1px 1px #666;
      left: 15px;
  }
  .bg-configure
  {
      background: white;
      padding: 15px;
      transition: all 0.6s;
      margin: 25px;
      padding-bottom: 100px;
      box-shadow: 1px 1px 1px 1px #666;
      right: -25px;
  }
  .bg-address
  {
      background: white;
      padding: 15px;
      transition: all 0.6s;
      box-shadow: 1px 1px 1px 1px #666;
      padding-bottom: 200px;
      margin: 15px;
      right: -25px;
      margin-top: -150px;
  }
  /* .bg-phases:hover , .bg-configure:hover , .bg-voltage:hover
  {
      transform: scale(1.1);
      box-shadow: 3px 6px 6px #ccc;
      transition: all 0.6s;
      z-index: 100;
  } */
  @media screen and (max-width: 1800px) and (min-width: 1550px)
  {
      .bg-voltage
      {
          padding: 10px;
            width: 55%;
            margin: 5px;
        }
  }
  @media screen and (max-width: 1300px)
  {
      .bg-address, .bg-configure, .bg-phases ,.bg-voltage
      {
          margin: 0px;
          margin-top: 10px;
        left: 0px;
        right: 0px;
      }
  }
  @media screen and (max-width: 1700px) and (min-width: 1300px)
  {
      .bg-phases
      {
          width: 55%;
          margin: 10px;
      }
      .bg-phases, .bg-address, .bg-voltage, .bg-configure
      {
          margin: 7px;
      }
      td
      {
          padding-left: 1px;
          padding-right: 1px;
      }
  }
  @media screen and (max-width: 1550px) and (min-width: 1300px)
  {
      .bg-phases, .bg-voltage
      {
          width: 70%;
      }
      td
      {
          padding: 0px;
      }
  }
  @media screen and (max-width: 1300px) and (min-width: 1000px)
  {
      .bg-phases
      {
          width: 60%;
      }
      .bg-voltage
      {
          width: 60%;
      }
      .bg-configure, .bg-address
      {
          width: 38%;
          right: -25px;
      }
      td
      {
          padding: 0px;
      }
      .slider
      {
          margin-left: 2px;
      }
  }
  @media screen and (max-width: 1000px)
  {
      td
      {
          padding: 0px;
      }
  }

  #toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: rgb(166, 247, 100);
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 50px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
	width: 50px;
	height: 50px;
    
    float: left;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    box-sizing: border-box;

    
    background-color: #111;
    color: #fff;
}
#toast #desc{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}
textarea
{
    overflow-y: scroll;
    height: 130px;
    resize: none;
    border: 1px solid green;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    background-color: #FFF;
    padding: 10px;
    font-weight: 700;
    font-size: 1.2em;
}
.textarea-danger
{
    background: red;
}
.tb_voltage_small_2, .tb_voltage_small_1
{
    visibility: hidden;
    display: none;
}