<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Amiko' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
    <link type="text/css" rel="stylesheet" href="styles/style.css" />
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <title>TU Smart Dashboard</title>
</head>

<body>
    <div id="header"></div>
    <div class="row">
        <div class="col-sm-12 col-md-6 bg-phases">
            <section class="phases">
            </section>
        </div>
        <div class="col-sm-12 col-md-5 bg-cnf_det" style="padding-left: 0px; left: 55px;">
            <div class="bg-configure">
                <section class="configure">
                </section>
            </div>
            <aside class="bg-details">
                <div class="location-details">
                    <p><span class="details-title">Location: </span><span class="location-text">LOC 1</span></p>
                </div>
                <div class="refresh-details">
                    <p><span class="details-title">Last Refreshed </span><br>
                        <span class="details-title1">Date:</span><span class="refresh-text1">11/06/2019</span><br>
                        <span class="details-title2">Time:</span><span class="refresh-text2">15:05</span></p>
                </div>
                <span class="tag-line" style="font-size:70%;font-family:hand_of_seanregular; color:rgb(14, 13, 13);"><i>
                        Powered by
                        TekUncorked</i></span>
            </aside>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 bg-voltage">
            <section class="noncout">
            </section>
        </div>
        <div class="col-sm-12 col-md-5 bg-address">
            <section>
                <div class="title4" text-align="center">
                    <h3>CHECK ADDRESS</h3>
                </div>

                <div class="form-group">
                    <label class="addr_label" for="id_addr">Id:</label>
                    <label class="addr_label" for="addr">Address:</label>
                    <label class="addr_label" for="length_adr">Length:</label><br>
                    <input type="text" class="form-control" id="id_addr">
                    <input type="text" class="form-control" id="addr">
                    <input type="text" class="form-control" id="length_addr">
                </div>
                <input type="button" class="btn btn-danger btn-addr" value="Request">

                <div class="addr-resp">
                    <span class="response_label">Response:</span> <textarea id="resp_here" disabled>
                            </textarea>
                </div>
            </section>
        </div>

    </div>
    <h3 class="username"><%= name %></h3>
    <div id="toast">
        <div id="img"><img src="./images/mainicon.png" width="50" height="50" alt="" style="margin-top: -16px;">
        </div>
        <div id="desc">Configuration Changed Successfully</div>
    </div>
    <div id="footer"></div>
    <script src="scripts/main.js"></script>

</body>

</html>